# format options
--allman false
--elseposition same-line
--patternlet hoist
--indent 4 
--indentcase false
--ifdef no-indent
--xcodeindentation false
--linebreaks lf
--decimalgrouping 3,6
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
--fractiongrouping disabled
--exponentgrouping disabled
--hexliteralcase uppercase
--exponentcase uppercase
--ranges spaced
--self init-only
--semicolons never
--importgrouping alphabetized
--operatorfunc spaced
--commas always
--trimwhitespace always
--stripunusedargs closure-only
--empty void
--wraparguments before-first
--wrapcollections before-first
--closingparen balanced

# rule options
--disable redundantRawValues

# Header
--header \n {file}\n Copyright © {created.year} Jason Fieldman.\n
