language: objective-c
branches:
  only:
    - master
matrix:
  include:
  - osx_image: xcode10.1
    env: SWIFT_VERSION=4.2
  - osx_image: xcode10.2
    env: SWIFT_VERSION=5.0
before_install:
  - gem install xcpretty -N
  - gem install cocoapods -v '1.5.3'
script:
  - set -o pipefail
  - sed -i '' -e "s/^SWIFT_VERSION *=.*/SWIFT_VERSION = $SWIFT_VERSION/g" Mortar/Mortar.xcconfig MortarTests/MortarTests.xcconfig
  - xcodebuild -project Mortar.xcodeproj -scheme "Mortar iOS" -sdk "iphonesimulator"
    -destination "OS=12.1,name=iPhone 6S" ONLY_ACTIVE_ARCH=NO  test | xcpretty -c
  - pod lib lint --quick
