language: objective-c
osx_image: xcode9.2
branches:
  only:
    - master
env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
before_install:
  - SIMULATOR_ID=$(xcrun instruments -s | grep -o "iPhone 6S (11.0) \[.*\]" | grep -o "\[.*\]" | sed "s/^\[\(.*\)\]$/\1/")
  - gem install xcpretty -N
  - gem install cocoapods -v '1.4.0'
script:
  - echo $SIMULATOR_ID
  - open -b com.apple.iphonesimulator --args -CurrentDeviceUDID $SIMULATOR_ID
  - set -o pipefail
  - xcodebuild -project Mortar.xcodeproj -scheme "Mortar iOS" -sdk "iphonesimulator11.2"
    -destination "OS=11.2,name=iPhone 6S" ONLY_ACTIVE_ARCH=NO  test | xcpretty -c
  - pod lib lint --quick
